{% extends "core/base.html" %}

{% block titulo %}
Galeria de Peliculas - Cine Romeo
{% endblock titulo %}

{% load static %}

{% block contenido %}


<h1 class="card-header" style="align-self: center; text-align: center;">Galeria de Flores</h1>
<section>
{% for f in listafloor %}
<div class="card mb-3" style="max-width: 1200px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ f.fotografia.url }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-header">
          <h5 class="card-title">{{f.name}}</h5>
          </div>

          <div class="card-header">
            <p class="card-text">{{f.descripcion}}</p>
          </div>

          <div class="card-header">
          <p class="card-text">Precio: ${{f.valor}}</p>
          </div>

          <p>
            <div>
                <a class="btn btn-warning" href=""><i class="fa fa-eye"></i> Ver Flor</a>
            </div>
            <p></p>
            <div>
                <a class="btn btn-warning" href="{% url 'ELIMINAR' f.name %}"><i
                        class="fa fa-trash-o"></i> Eliminar</a>
            </div>

            <p></p>
            <div>
                <a class="btn btn-warning" href="{% url 'AGREGAR_CARRO' f.name %}"><i
                        class="fa fa-cart-plus"></i> Agregar a Carro</a>
            </div>
        </p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</section>

<h1>{{msg}}</h1>
{% endblock contenido %}