{% extends "core/base.html" %}

{% block titulo %}
    Login de Acceso
{% endblock titulo %}

{% block contenido %}
<h1>Formulario Login de Acceso</h1>
<form name="formulario" method="POST" action="{% url 'LOGIN_INICIAR' %}">
    {% csrf_token %}
    <table border="1">
        <tr>
            <td>Usuario:</td>
            <td><input type="text" name="txtUsuario"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="txtPass"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Enviar"></td>
            <td></td>
        </tr>
    </table>
</form>

<!--
<div class="dropdown-menu">
  <form class="px-4 py-3">
    <div class="form-group">
      <label for="exampleDropdownFormEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">New around here? Sign up</a>
  <a class="dropdown-item" href="#">Forgot password?</a>
</div>
-->
{% endblock contenido %}